@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
  background-color: #f4f3ef;
  min-height: 100vh;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}

#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}

.card {
  width: 100%;
  padding: 15px 15px 10px 15px;
  min-height: 1px;
  display: flex;
  border-radius: 10px;
  background-color: #ffffff;
}
.mb_large {
  margin-bottom: 20px;
}
.table_image {
  width: 100px;
  height: 60px;
}
.success {
  color: green;
}
.cancelled {
  color: red;
}
.card table a {
  color: unset;
}
.card .table_has_image a div {
  height: 60px;
}
.btn-create {
  display: flex;
  margin-bottom: 20px;
}
.item_center {
  align-items: center;
}
.ml_medium {
  margin-left: 20px;
}
.btn:focus {
  outline: unset !important;
}
