.room_categories_images {
  width: 100%;
  height: 400px;
}
.info_room_categories {
  background-color: #ffff !important;
}
.service_images {
  width: 100%;
  height: 200px;
}
.form-control {
  height: 55px !important;
}
.info_booking {
  margin-bottom: 40px;
}
.choose { 
  text-align: center;
  margin-top: 30px;
}
.choose-check {
  text-align: center;
}
.remark {
  text-align: justify;
  padding: 0px 25px;
  width: 70%;
  margin-right: auto;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.book {
  text-align: center;
}
.errors {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}
.price table td{
  padding: 5px;
  border: 1px solid black;
}
