body {
	font-family: "Times New Roman", Georgia, Serif;
}
/* h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
} */
.mb_small {
  margin-bottom: 5px;
}
.mb_medium {
  margin-bottom: 10px;
}
.mb_large {
  margin-bottom: 15px;
}
.w3-dropdown-content {
  top: 20px;
  right: 5px;
}
.errors {
  color: red;
}
.disabled {
  pointer-events:none;
  background-color: #dddddd;
}
.message_success {
  width: 100%;
  background-color: greenyellow;
  padding: 20px;
}
